@font-face {
    font-family: "Droid Sans Mono Awesome";
    src: local("Droid Sans Mono Awesome"),
         url(fonts/Droid+Sans+Mono+Awesome.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

