@font-face {
    font-family: "Hack";
    src: local("Hack"),
         url(fonts/hack-regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hack";
    src: local("Hack"),
         url(fonts/hack-old.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

